@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
del, dfn, em, font, img, ins, q,
small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
footer, header,
article, aside, canvas, nav, section,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    padding: 0;
    margin: 0;
}

article, footer, header, menu, nav, section, aside, canvas {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a:focus {
    outline: none;
}

blockquote {
    quotes: none;
}

    blockquote:before, blockquote:after {
        content: '';
        content: none;
    }


body {
    height: 1024px;
    height: 768px;
    margin: 0;
    padding: 0;
}

#background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    width: 1024px;
    
    overflow:hidden;
}


@font-face {
    font-family: "MyriadPro";
    src: url(../fonts/MyriadPro-Cond.otf);
}
@font-face {
    font-family: "MyriadProLight";
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: "NautilusPompilius";
    src: url(../fonts/Nautilus.otf);
}

* {
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;*/
        font-family: "MyriadPro";

}